body{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

.cabecera{
    background-color:#FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    padding: 15px;
    
}
.logo-buscar{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    
}
.logo{
    display: inline-flex;
    align-items: center;
    width: 176px;
    height: 50px;
}

.buscador{
    padding: 8px 16px 8px 16px;
    border-radius: 20px;
    gap: 8px;
    background: #F5F5F5;
}
.buscar{
    border: none;
    background: #F5F5F5;
}
.btn-buscar{
    border: none;
    height: 80%;
}
.btn-login {
    width: 182px;
    height: 51px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    border:1px solid #2A7AE4;
    color: #2A7AE4;
    padding: 16px;
    gap: 10px;
}
.btn-admin {
    width: 181px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    border:1px solid #2A7AE4;
    color: #2A7AE4;
    padding: 16px;
    gap: 10px;
    line-height: 19px;
    text-align: left;

}
@media screen and (max-width: 1024px) {
    .cabecera{
        width: 95%;
    }
    .logo-buscar{
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    .logo{
        width: 100px;
    }
    
    .buscador{
        padding: 8px;
    }

    .btn-buscar{
        border: none;
        align-items: center;
    }
}

@media screen and (max-width: 768px){
    .cabecera{
        height: 72px;
        width: 95%;
        justify-content: space-between;
        padding: 16px, 32px, 16px, 32px;
        margin: auto;
    }
    .logo-buscar{
        width: 60%;
        height: 40px;
        gap: 32px;
    }
    .logo{
        width: 30%;
        height: 80%;
    }
    
    .buscador{
        justify-content: space-between;
        border-radius: 20px;
        gap: 8px;
        width: 40%;
    }
    .btn-buscar{
        width: 20%;
    }
    .btn-login{
        width: 30%;
    }
    .login{
        display: inline;
        width: 40%;
        text-align: end;

    }
}
@media screen and (max-width: 360px){
    .cabecera{
        height: 72px;
        width: 95%;
        justify-content: space-between;
        display: flex;
    }
    .buscador{
        display: none;
    }

    .logo-buscar{
        width: 15%;
    }
    .login{
        width: 85%;
        border: 1px;
        justify-content: center;
    }

}